<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>QR Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanActive?'#00000000':'#ffffff'">
  <ion-button mode="ios" fill="solid" shape="round" color="primary" size="medium" expand="full" (click)="startScanner()" [hidden]="scanActive">
    SCAN YOUR QR
  </ion-button>
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button mode="ios" fill="solid" shape="round" color="primary" size="medium" expand="full" (click)="stopScanner()">Stop Scan</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>